// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Arista-light";
$headers-font: "Arista-light";

@font-face {
  font-family: "Arista-light";
  src: font-url('Arista2.0Alternate-LightTrial.ttf') format('truetype')
}
$my-font: "Arista-light";
