<div class="body-up" style="height: 95vh;">
</div>


<div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-25.50,-21.20 C149.99,150.00 350.85,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: white;"></path></svg></div>

<div class="body-middle" style="height: 70vh;background: white;">
  <div class="container text-center">
    <div class="row" id="text-middle">
      <div class="col-md-6">
        <h3>Upcoming releases</h3>
        <span>------------------</span>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dictum sem in ultrices varius. Praesent eu odio commodo, convallis elit vitae, luctus est. Quisque vulputate, mi facilisis aliquet vehicula, urna nulla tincidunt dui, ac consequat tellus ante quis nisi. Nullam efficitur quam eu turpis pulvinar sagittis. Aenean commodo tincidunt mauris ac fermentum. Nulla posuere, ligula et sollicitudin lobortis, elit libero commodo tellus, eu ullamcorper magna lorem ornare sapien. Etiam ullamcorper mollis magna maximus egestas. Proin pretium eros ut risus maximus facilisis. Curabitur pretium massa vitae mi accumsan cursus. Praesent felis lectus, mattis vitae tellus et, dignissim volutpat orci. Duis ut libero eget mi porttitor molestie. Donec quis lorem vel lectus aliquet placerat. Sed ac cursus dolor.</p>
      </div>
      <div class="col-md-6 zindex">
        <%= image_tag "matt.jpg", style:"width:78%;" %>
      </div>
    </div>
  </div>
</div>


<div style="height: 150px; overflow: hidden;background: white;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-25.50,-21.20 C149.99,150.00 350.85,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #0dffd0;"></path></svg></div>

<div class="body-down" style="height: 100vh;background: #0dffd0;">
</div>


  <div class="text-center " id="div-logo-black">
    <%= image_tag "logo-blacked.png" %>
  </div>
    <div class="text-center" id="white-logo">
    <%= image_tag "logo-1.png" %>
  </div>
